In [31]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gkk46\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.8)
Requirement already satisfied: colorama in c:\users\gkk46\appdata\roaming\python\python312\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as pd
import zipfile
import kaggle

In [33]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [34]:
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [35]:
bikes = pd.read_csv("london_merged.csv")

In [36]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [37]:
bikes.shape

(17414, 10)

In [38]:
bikes.head(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0

In [39]:
bikes.weather_code.unique()

array([ 3.,  1.,  4.,  7.,  2., 26., 10.])

In [40]:
bikes.weather_code.nunique()

7

In [41]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [42]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [43]:
bikes=bikes.rename(columns={
    "timestamp":"Time",
    "cnt":"Count",
    "t1":"Temp_real_C",
    "t2":"Temp_feels_like_C",
    "hum":"Humidity_percent",
    "wind_speed":"Wind_speed_kmh",
    "weather_code":"Weather",
    "is_holiday":"is_holiday",
    "is_weekend":"is_weekend",
    "season":"season"
    
})

In [44]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               17414 non-null  object
 1   Count              17414 non-null  int64
 2   Temp_real_C        17414 non-null  float64
 3   Temp_feels_like_C  17414 non-null  float64
 4   Humidity_percent   17414 non-null  float64
 5   Wind_speed_kmh     17414 non-null  float64
 6   Weather            17414 non-null  float64
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [47]:
bikes.Humidity_percent = bikes.Humidity_percent/100

In [49]:
bikes.head(5)

,Time,Count,Temp_real_C,Temp_feels_like_C,Humidity_percent,Wind_speed_kmh,Weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [50]:
season_dict ={
    "0.0": "spring",
    "1.0": "summer",
    "2,0": "autumn",
    "3.0": "winter"
}

Weather_dict = {
    "1.0":"Clear",
    "2.0":"Scattered clouds",
    "3.0":"Broken clouds",
    "4.0":"Cloudy",
    "7.0":"Rain",
    "10.0":"Rain with thunderstorm",
    "26.0":"Snowfall"
}

bikes.season = bikes.season.astype('str')
bikes.season = bikes.season.map(season_dict)

bikes.Weather = bikes.Weather.astype('str')
bikes.Weather = bikes.Weather.map(Weather_dict)

In [51]:
bikes.head()

,Time,Count,Temp_real_C,Temp_feels_like_C,Humidity_percent,Wind_speed_kmh,Weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [53]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [54]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')